.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.623000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.782048px;}
._4{margin-left:-3.148733px;}
._0{margin-left:-1.434624px;}
._5{width:1.195512px;}
._c{width:2.495464px;}
._a{width:8.982196px;}
._6{width:10.281403px;}
._b{width:11.524493px;}
._1{width:12.576870px;}
._d{width:14.083487px;}
._e{width:16.179262px;}
._7{width:17.852979px;}
._8{width:18.889641px;}
._9{width:20.921460px;}
._f{width:27.042135px;}
._10{width:96.239432px;}
._2{width:98.231122px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:31.880400px;}
.fs1{font-size:39.850400px;}
.fs0{font-size:47.820800px;}
.y24{bottom:27.251000px;}
.y0{bottom:99.500000px;}
.y23{bottom:117.119000px;}
.y22{bottom:129.074000px;}
.y21{bottom:141.029000px;}
.y20{bottom:166.932000px;}
.y1f{bottom:178.887000px;}
.y1e{bottom:190.842000px;}
.y1d{bottom:202.797000px;}
.y1c{bottom:214.752000px;}
.y1b{bottom:240.655000px;}
.y1a{bottom:252.610000px;}
.y19{bottom:278.513000px;}
.y18{bottom:290.468000px;}
.y17{bottom:312.386000px;}
.y16{bottom:338.289000px;}
.y15{bottom:352.237000px;}
.y14{bottom:378.140000px;}
.y13{bottom:392.087000px;}
.y12{bottom:406.035000px;}
.y11{bottom:419.983000px;}
.y10{bottom:433.930000px;}
.yf{bottom:447.878000px;}
.ye{bottom:461.826000px;}
.yd{bottom:483.744000px;}
.y25{bottom:505.000000px;}
.yc{bottom:517.617000px;}
.y34{bottom:522.951000px;}
.yb{bottom:531.564000px;}
.y33{bottom:536.898000px;}
.ya{bottom:553.482000px;}
.y32{bottom:558.816000px;}
.y9{bottom:567.430000px;}
.y31{bottom:584.719000px;}
.y8{bottom:589.348000px;}
.y30{bottom:596.674000px;}
.y2f{bottom:610.622000px;}
.y7{bottom:615.251000px;}
.y2e{bottom:622.577000px;}
.y6{bottom:641.153000px;}
.y2d{bottom:644.495000px;}
.y5{bottom:653.109000px;}
.y4{bottom:670.045000px;}
.y2c{bottom:670.398000px;}
.y2b{bottom:684.345000px;}
.y3{bottom:686.982000px;}
.y2a{bottom:698.293000px;}
.y2{bottom:703.918000px;}
.y29{bottom:720.211000px;}
.y1{bottom:728.181000px;}
.y28{bottom:772.017000px;}
.y27{bottom:783.972000px;}
.y26{bottom:795.927000px;}
.h4{height:23.623376px;}
.h3{height:29.529146px;}
.h2{height:35.435213px;}
.h5{height:299.500000px;}
.h1{height:697.000000px;}
.h0{height:841.890000px;}
.w1{width:262.000000px;}
.w2{width:539.000000px;}
.w0{width:595.276000px;}
.x0{left:28.000000px;}
.x1{left:51.281000px;}
.x13{left:57.068000px;}
.x16{left:65.102000px;}
.x7{left:82.532000px;}
.x11{left:89.322000px;}
.x15{left:93.915000px;}
.x12{left:99.205000px;}
.x14{left:110.841000px;}
.x2{left:112.585000px;}
.x6{left:115.813000px;}
.x4{left:122.777000px;}
.xd{left:125.735000px;}
.x10{left:129.820000px;}
.x3{left:133.556000px;}
.xb{left:137.412000px;}
.x8{left:139.065000px;}
.xf{left:146.368000px;}
.xa{left:150.144000px;}
.xe{left:151.249000px;}
.x9{left:153.471000px;}
.xc{left:162.886000px;}
.x5{left:194.388000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-6.376064pt;}
._4{margin-left:-4.198310pt;}
._0{margin-left:-1.912832pt;}
._5{width:1.594016pt;}
._c{width:3.327285pt;}
._a{width:11.976261pt;}
._6{width:13.708538pt;}
._b{width:15.365990pt;}
._1{width:16.769161pt;}
._d{width:18.777983pt;}
._e{width:21.572350pt;}
._7{width:23.803972pt;}
._8{width:25.186188pt;}
._9{width:27.895280pt;}
._f{width:36.056180pt;}
._10{width:128.319243pt;}
._2{width:130.974829pt;}
.fs2{font-size:42.507200pt;}
.fs1{font-size:53.133867pt;}
.fs0{font-size:63.761067pt;}
.y24{bottom:36.334667pt;}
.y0{bottom:132.666667pt;}
.y23{bottom:156.158667pt;}
.y22{bottom:172.098667pt;}
.y21{bottom:188.038667pt;}
.y20{bottom:222.576000pt;}
.y1f{bottom:238.516000pt;}
.y1e{bottom:254.456000pt;}
.y1d{bottom:270.396000pt;}
.y1c{bottom:286.336000pt;}
.y1b{bottom:320.873333pt;}
.y1a{bottom:336.813333pt;}
.y19{bottom:371.350667pt;}
.y18{bottom:387.290667pt;}
.y17{bottom:416.514667pt;}
.y16{bottom:451.052000pt;}
.y15{bottom:469.649333pt;}
.y14{bottom:504.186667pt;}
.y13{bottom:522.782667pt;}
.y12{bottom:541.380000pt;}
.y11{bottom:559.977333pt;}
.y10{bottom:578.573333pt;}
.yf{bottom:597.170667pt;}
.ye{bottom:615.768000pt;}
.yd{bottom:644.992000pt;}
.y25{bottom:673.333333pt;}
.yc{bottom:690.156000pt;}
.y34{bottom:697.268000pt;}
.yb{bottom:708.752000pt;}
.y33{bottom:715.864000pt;}
.ya{bottom:737.976000pt;}
.y32{bottom:745.088000pt;}
.y9{bottom:756.573333pt;}
.y31{bottom:779.625333pt;}
.y8{bottom:785.797333pt;}
.y30{bottom:795.565333pt;}
.y2f{bottom:814.162667pt;}
.y7{bottom:820.334667pt;}
.y2e{bottom:830.102667pt;}
.y6{bottom:854.870667pt;}
.y2d{bottom:859.326667pt;}
.y5{bottom:870.812000pt;}
.y4{bottom:893.393333pt;}
.y2c{bottom:893.864000pt;}
.y2b{bottom:912.460000pt;}
.y3{bottom:915.976000pt;}
.y2a{bottom:931.057333pt;}
.y2{bottom:938.557333pt;}
.y29{bottom:960.281333pt;}
.y1{bottom:970.908000pt;}
.y28{bottom:1029.356000pt;}
.y27{bottom:1045.296000pt;}
.y26{bottom:1061.236000pt;}
.h4{height:31.497835pt;}
.h3{height:39.372195pt;}
.h2{height:47.246950pt;}
.h5{height:399.333333pt;}
.h1{height:929.333333pt;}
.h0{height:1122.520000pt;}
.w1{width:349.333333pt;}
.w2{width:718.666667pt;}
.w0{width:793.701333pt;}
.x0{left:37.333333pt;}
.x1{left:68.374667pt;}
.x13{left:76.090667pt;}
.x16{left:86.802667pt;}
.x7{left:110.042667pt;}
.x11{left:119.096000pt;}
.x15{left:125.220000pt;}
.x12{left:132.273333pt;}
.x14{left:147.788000pt;}
.x2{left:150.113333pt;}
.x6{left:154.417333pt;}
.x4{left:163.702667pt;}
.xd{left:167.646667pt;}
.x10{left:173.093333pt;}
.x3{left:178.074667pt;}
.xb{left:183.216000pt;}
.x8{left:185.420000pt;}
.xf{left:195.157333pt;}
.xa{left:200.192000pt;}
.xe{left:201.665333pt;}
.x9{left:204.628000pt;}
.xc{left:217.181333pt;}
.x5{left:259.184000pt;}
}
